
<div class="wrap">
  <div class="inner">
  <div class="login_logo"><img src="../images/furima-logo-color.png" alt=""></div>
    <div class="login_container">

<h2>ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render 'shared/flash_messages' %>
  <div class="field">
    <div class='form-text-wrap'>
      <label class="form-text">メールアドレス</label>
    </div>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <div class='form-text-wrap'>
      <label class="form-text">パスワード</label>
    </div>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <div class='form-text-wrap'>
        <%= f.check_box :remember_me %>
        <label class="form-text">パスワードを記憶させる</label>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<div class="new_container">
      <h3><span>初めてご利用ですか？</span></h3>
      <a href="/users/sign_up">アカウント登録</a> </div>
      <%= link_to "パスワードをお忘れの方へ", "#" %>

<%#= render "devise/shared/links" %>

</div>
</div>
</div>


