<%# CSS・・・assets/stylesheets/shared/header.css %>
  
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<header>
  <div class="wrap">
    <div class="top_fix">
      <div class="top_flex">
        <%= link_to image_tag("furima-logo-color.png", class:"furima-icon"), "/" %>
        <div class="sp_icon pcnone">
          <div class="cart_icon"><%= image_tag "icon_cart.png" %></div>
          <div class="hamburger-menu">
            <input type="checkbox" id="menu-btn-check">
            <label for="menu-btn-check" class="menu-btn"><span></span></label>
            <!--ここからメニュー-->
            <div class="menu-content">
              <ul>
                <li> <a href="#">メニューリンク1</a> </li>
                <li> <a href="#">メニューリンク2</a> </li>
                <li> <a href="#">メニューリンク3</a> </li>
                <li> <a href="#">ログアウト</a> </li>
              </ul>
            </div>
            <!--ここまでメニュー--> 
          </div>
        </div>
      </div>
       <%= search_form_for Item.ransack(params[:q]), url: search_items_path, html: {class: "p10"} do |f| %>
          <div class="p10">
            
            <%= f.text_field :item_name, placeholder: '商品名', value: params[:q]&.dig(:item_name), class: "search_form p10" %>
          </div>
          
        <% end %>
      
      <nav class="spnone">
        <ul class="nav_list">
          <% if user_signed_in? %>
            <li><%= image_tag "icon_human.png" %><%= link_to current_user.first_name, "#" %></li>
            <li><%= image_tag "icon_beginner.png" %><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= image_tag "icon_human.png" %><%= link_to '新規登録', new_user_registration_path %></li>
            <li><%= image_tag "icon_beginner.png" %><%= link_to 'ログイン', new_user_session_path %></li>
          <% end %>
          <% if user_signed_in? %>
            <li><%= image_tag "star-on.png" %><%=link_to "お気に入り一覧", item_favorites_path(current_user) %></li>
          <% else %>
            <li><%= image_tag "star-on.png" %><%=link_to "お気に入り一覧", root_path %></li>
          <% end %>
           <% if user_signed_in? %>
           <li><%= image_tag "icon_cart.png" %><%=link_to "カートを確認する", carts_index_path %></li>
          <% else %>
            <li><%= image_tag "icon_cart.png" %><%=link_to "カートを確認する", root_path %></li>
          <% end %>
           
        </ul>
      </nav>
      
    </div>
  </div>
</header>
<nav class="pcnone" id="hidden">
        <ul class="nav_list">
          <% if user_signed_in? %>
            <li><%= image_tag "icon_human.png" %><%= link_to current_user.first_name, "#" %></li>
            <li><%= image_tag "icon_beginner.png" %><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= image_tag "icon_human.png" %><%= link_to '新規登録', new_user_registration_path %></li>
            <li><%= image_tag "icon_beginner.png" %><%= link_to 'ログイン', new_user_session_path %></li>
          <% end %>
          <% if user_signed_in? %>
            <li><%= image_tag "icon_cart.png" %><%=link_to "お気に入り一覧", item_favorites_path(current_user) %></li>
          <% else %>
            <li><%= image_tag "icon_cart.png" %><%=link_to "お気に入り一覧", root_path %></li>
          <% end %>
        </ul>
      </nav>