<%= render "shared/header" %>

  <div class= "item-hit">
      <%= @item.count %>
      <div class='hit'>
        件がヒットしました
      </div>
      <div>
        <p class='text-right mt-3'>合計金額 <%= @item.sum(:fee) %>円</p>
      </div>
    <ul class="item-lists">
      <br>
      <% if @item.present? %>
        <% @item.each do |item| %>
          <li class='list'>
            <%= link_to item_path(item.id) do %> 
              <div class='item-img-content'>
                <%= image_tag item.images[0], class: 'item-img' %>
              </div>
              <div class='item-info'>
                <h3 class='item-name'>
                  <%= item.item_name %>
                </h3>
                <h3 class='item-comment'>
                  <%= item.comment %>
                </h3>
                <div class='item-price'>
                  <span><%= item.fee %>円<%= link_to '×', item_delete_in_carts_path(item), method: :post, data: {confirm: '削除してもいいですか？'} %></a></span>
                </div>
                <div class='item-category'>
                  <span>カテゴリー（<%= item.category.name %>）</span>
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

<%= render "shared/footer" %>