<%= search_form_for @q, url: search_items_path, html: {id: "detailed-search-form"} do |f| %>
  <div class="search-main">
    <div class="search-field">
      <%= f.label :item_name, '商品名', class: "text-name" %>
      <br>
      <%= f.text_field :item_name, class:"items-text", placeholder: '商品名', value: params[:q]&.dig(:item_name) %>
      <%= f.label :owner_nickname_cont, '出品者名', class: "text-name" %>
      <br>
      <%= f.text_field :owner_nickname_cont, class:"items-text", placeholder: '出品者名' %>
      <%= f.label :category_id_in, 'カテゴリーを選ぶ', class: "text-name" %>
      <br>
      <%= f.collection_check_boxes(:category_id_in, Category.all, :id, :name, {include_blank: "---"}, {class:"category-box"}) %>
      <br>
      <%= f.label :fee_gteq, '価格', class:"price", class: "text-name" %>
      <br>
      <%= f.number_field :fee_gteq, class:"items-text" %> 円以上
      <br>
      <%= f.number_field :fee_lteq, class:"items-text" %> 円以下
      <br>
      <%= f.submit '検索', class: "search-link" %>
    </div>
    
    <div class= "item-hit">
      <div class='hit'>件がヒットしました</div>
    <ul class="item-lists">
      <br>
      <% @items.each do |item| %>
        <li class='list'>
          <%= link_to item_path(item.id) do %> 
            <div class='item-img-content'>
              <%= image_tag item.images[0], class: 'item-img' if item.images.attached? %>
            </div>
            <div class='item-info'>
              <h3 class='item-name'>
                <%= item.item_name %>
              </h3>
              <h3 class='item-comment'>
                <%= item.comment %>
              </h3>
              <div class='item-price'>
                <span><%= item.fee %>円</span>
              </div>
              <div class='item-category'>
                <span>カテゴリー（<%= item.category.name %>）</span>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
    </div>
  </div>
<% end %> 




<%= render "shared/header" %>


<nav class="pcnone" id="hidden">
  <ul class="nav_list">
    <li><img src="../images/icon_human.png" alt="ログイン">
      <p>登録・ログイン</p>
    </li>
    <li><img src="../images/icon_beginner.png" alt="はじめて">
      <p>うまいもん市場とは</p>
    </li>
  </ul>
</nav>
<!---パンくずリスト--->
<section id="bread_clumb">
  <div class="wrap">
    <div class="inner">
      <div class="container">
        <ol class="bc_list">
          <li><%= link_to "うまいもん市場", root_path %></li>
          <li><a href="">野菜</a></li>
        </ol>
      </div>
    </div>
  </div>
</section>

<!---パンくずリスト--->


<div id="contents_area">
  <div class="left_box spnone">
    <section id="search_category">
      <div class="wrap">
        <div class="inner">
          <div class="category_list_title spnone">
            <h3>カテゴリーから探す</h3>
          </div>
          <%= search_form_for Item.ransack(params[:q]), url: search_items_path do |f| %>
          <ul class="category_list">
            <li><a href="/items/search?q%5Bcategory_id_in%5D%5B%5D=&q%5Bcategory_id_in%5D%5B%5D=1&commit">果物</a></li>
            <li><a href="/items/search?q%5Bcategory_id_in%5D%5B%5D=&q%5Bcategory_id_in%5D%5B%5D=2&commit">野菜</a></li>
            <li><a href="/items/search?q%5Bcategory_id_in%5D%5B%5D=&q%5Bcategory_id_in%5D%5B%5D=3&commit">魚</a></li>
            <li><a href="/items/search?q%5Bcategory_id_in%5D%5B%5D=&q%5Bcategory_id_in%5D%5B%5D=4&commit">魚介その他</a></li>
            <li><a href="/items/search?q%5Bcategory_id_in%5D%5B%5D=&q%5Bcategory_id_in%5D%5B%5D=5&commit">牛肉・豚肉・鶏肉</a></li>
            <li><a href="/items/search?q%5Bcategory_id_in%5D%5B%5D=&q%5Bcategory_id_in%5D%5B%5D=6&commit">肉加工品</a></li>
            <li><a href="/items/search?q%5Bcategory_id_in%5D%5B%5D=&q%5Bcategory_id_in%5D%5B%5D=3&commit">その他</a></li>
            <li class="pcnone"><a href="">カテゴリーから探す&nbsp;＞</a></li>
          </ul>
          <% end %>
        </div>
      </div>
    </section>
  </div>

 
  <%= search_form_for @q, url: search_items_path, html: {id: "detailed-search-form"} do |f| %>
  <div class="right_box">
    <section id="search_explan">
      <div class="wrap">
        <div class="inner">
          <div class="search_result"><span>検索結果：<%#= @item_count.count %>件</span></div>
          <div class="explan_title">とうもろこしの産地直送<br class="pcnone"></div>
          <!--検索のタグによって商品名が変わるようにしたい--> 
        </div>
      </div>
    </section>
    <section id="serach_itemArea">
      <div class="wrap">
        <div class="inner">

          
            <ul class="search_itemList">
            <% @items.each do |item| %>
            <li>
            <%= link_to item_path(item.id) do %> 
              <div class="itemlist_box">
                <div class="item_img"><%= image_tag item.images[0], class: 'item-img' if item.images.attached? %></div>
                <div class="item_title"><%= item.item_name %></div>
                <ul class="item_list_tag">
                  <span>カテゴリー（<%= item.category.name %>）</span>
                </ul>
                <div class="item_list_prcie"><%= item.fee %>円</div>
                <div class="item_list_sellerBox">
                  <div class="seller_icon"></div>
                  <div class="seller_info"><span>茨城県行方市</span>北浦パッケージ</div>
                </div>
              </div>
            <% end %>
            </li>
            <% end %>
            </ul>
        </div>
      </div>
    </section>

    <section id="search_recom">
      
    </section>
    
  </div>
</div>
<% end %> 

<%= render "shared/footer" %>


<script>
    $(function(){
  var pos = 0;
  var header = $('#hidden');
  
  $(window).on('scroll', function(){
    if($(this).scrollTop() < pos ){
      //上スクロール時の処理
      header.removeClass('hide');
    }else{
      //下スクロール時の処理
      header.addClass('hide');
    }
    pos = $(this).scrollTop();
  });
});</script> 
<script type="text/javascript" src="../slick/slickScroll.js"></script> 
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script> 
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> 
<script type="text/javascript" src="../slick/slick.min.js"></script>

