<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @item.item_name %>
    </h2>
    <div class="slider-for">
      <p><%= image_tag @item.images[0]  %></p>
    </div> 
      <div class="slider-nav" >
        <% @item.images[1..-1].each do |image| %>
            <p><%= image_tag image %></p>
        <%end%>
      </div>        
    <div class="item-price-box">
      <span class="item-price">
        ¥<%=  @item.fee %>
      </span>
      <span class="item-postage">
        <%= @item.delivery_method.name %>
      </span>
    </div>

    <%# if @item.purchase.blank? %>
      <% if owner_signed_in? %>        
        <% if  current_owner.id == @item.owner_id %>
          <%= link_to "商品の編集", edit_item_path(@item.id), method: :get, class: "item-red-btn" %>
          <p class="or-text">or</p>
          <%= link_to "削除", item_path, method: :delete, class:"item-destroy" %>
        <% end %>
      <% end%>
      <% if user_signed_in? %>
        <%= link_to "購入画面に進む", item_purchases_path(@item.id),  class:"item-red-btn"%>
      <% end %>
    <%#end %>

    <div class="item-explain-box">
      <span><%= @item.comment %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><%= @item.item_name %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @item.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">配送料の負担</th>
          <td class="detail-value"><%= @item.delivery_method.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送日の目安</th>
          <td class="detail-value"><%= @item.shipping_date.name %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <% if current_user.favorite_find(@item.id) %>
        <div class="report-btn">
          <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
          <p><%=link_to "お気に入り解除", item_favorite_path(@item.id), method: :delete %></p>
        </div>
      <% else %>
        <div class="favorite-btn">
          <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
          <p><%=link_to "お気に入り登録", item_favorites_path(@item.id), method: :post %></p>
        </div>
      <% end %>
      <div class="count-btn">
        <p><%=link_to "お気に入り一覧", item_favorites_path(@item.id) %></p>
      </div>
      <div class="report-btn">
          <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
          <p><%=link_to "カートに入れる", item_add_to_carts_path(@item.id), method: :post %></p>
      </div>
        
    </div>
  </div>
  <%# /商品の概要 %>

  <div class="comment-box">
    
  <%= link_to "ホームに戻る", root_path,  class:"another-item"%>
  <p><%#=link_to "カートを確認する", carts_path(@item.id), class:"another-item" %></p>
</div>


<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="robots" content="noindex, nofollow, noarchive" />
<meta name="robots" content="noimageindex, nomediaindex" />
<title>無題ドキュメント</title>
<link href="../css/index.scss.css" rel="stylesheet" type="text/css">
<link href="../css/header.css" rel="stylesheet" type="text/css">
<link href="../css/reset.css" rel="stylesheet" type="text/css">
<link href="../css/common.css" rel="stylesheet" type="text/css">
<link href="../css/detail.css" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> <!-- 必要に応じてバージョンアップ -->
<link rel="stylesheet" type="text/css" href="../slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="../slick/slick-theme.css"/>
</head>

<body>
<!---全ページ共通--->
<header>
  <div class="wrap">
    <div class="top_fix">
      <div class="top_flex">
        <h1 class="logo"><a href="#"><img src="../images/furima-logo-color.png" alt=""></a></h1>
        <div class="sp_icon">
          <div class="cart_icon"><img src="../images/icon_cart.png" alt="カート"></div>
          <div class="hamburger-menu">
            <input type="checkbox" id="menu-btn-check">
            <label for="menu-btn-check" class="menu-btn"><span></span></label>
            <!--ここからメニュー-->
            <div class="menu-content">
              <ul>
                <li> <a href="#">メニューリンク1</a> </li>
                <li> <a href="#">メニューリンク2</a> </li>
                <li> <a href="#">メニューリンク3</a> </li>
                <li> <a href="#">ログアウト</a> </li>
              </ul>
            </div>
            <!--ここまでメニュー--> 
          </div>
        </div>
      </div>
      <form action="" method="get" class="p10">
        <div class="search_form">
          <input type="search" name="search" placeholder="商品名/出品者名">
        </div>
      </form>
      <nav class="spnone">
        <ul class="nav_list">
          <li>登録・ログイン</li>
          <li>ログアウト</li>
          <li>カート</li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<nav class="pcnone" id="hidden">
  <ul class="nav_list">
    <li><img src="../images/icon_human.png" alt="ログイン">
      <p>登録・ログイン</p>
    </li>
    <li><img src="../images/icon_beginner.png" alt="はじめて">
      <p>うまいもん市場とは</p>
    </li>
  </ul>
</nav>
<!---全ページ共通---> 
<!---ページ下部固定ボタン--->
<section id="fixbtn">
  <div class="inner">
    <ul class="cv_btn">
      <li class="cv_cart"><a href="">カートに入れる</a></li>
      <li class="cv_order"><a href="">今すぐ注文</a></li>
    </ul>
  </div>
</section>
<!---ページ下部固定ボタン---> 
<!---パンくずリスト--->
<section id="bread_clumb">
  <div class="wrap">
    <div class="inner">
      <div class="container">
        <ol class="bc_list">
          <li><a href="">うまいもん市場</a></li>
          <li><a href="">大ジャンル</a></li>
          <li><a href="">小ジャンル</a></li>
          <li><a href="">商品名</a></li>
        </ol>
      </div>
    </div>
  </div>
</section>
<!---パンくずリスト---> 
<!----商品サムネイル---->
<section id="item_photo">
  <div class="slider-for">
    <p><img src="../images/11111.png" alt=""></p>
    <p><img src="../images/furima-header02.png" alt=""></p>
    <p>3</p>
    <p>4</p>
    <p>5</p>
  </div>
  <div class="slider-nav">
    <p><img src="../images/11111.png" alt=""></p>
    <p><img src="../images/furima-header02.png" alt=""></p>
    <p>3</p>
    <p>4</p>
    <p>5</p>
  </div>
</section>
<!----商品サムネイル----> 
<!---商品説明---->
<section id="item_info">
  <div class="wrap">
    <div class="inner">
      <h3 class="item_name">【金曜日出荷分】高原野菜セット</h3>
      <div class="review">★<a href="">4件のレビュー</a></div>
      <div class="price">￥3,400円<span class="tax">(税込/送料別)</span></div>
      <div class="sell_season">販売時期&nbsp;7月～12月</div>
      <div class="special_box">
        <div class="special_title"><span>今ならこんな野菜が入っています</span></div>
        <ul class="special_list">
          <li>新ジャガイモ</li>
          <li>トマト</li>
          <li>きゅうり</li>
          <li>ナス</li>
          <li>ピーマン</li>
          <li>トウモロコシ</li>
          <li>ズッキーニ</li>
          <li>インゲン類</li>
          <li>新タマネギ</li>
          <li>ジャガイモ</li>
          <li>ピーマン類</li>
          <li>ネギ類</li>
        </ul>
      </div>
      <p class="special_caution">※上記のお野菜は最近の注文に含まれていたお野菜になります。タイミングによって内容が異なる場合がございます。</p>
      <div class="famer_box">
        <div class="famer_icon"></div>
        <div class="famer_info"><span>長野県&nbsp;佐久市</span>くさぶえ農園</div>
      </div>
      <div class="points_box">
        <div class="points_title"><span>ここがイチオシ！</span></div>
        <ul class="points_list">
          <li>お手頃サイズとお手頃なお値段でオススメです！</li>
          <li>お刺身はもちろん、塩焼き、天ぷら、フライなどの加熱調理もOK！</li>
          <li>車エビの頭はアツアツのお味噌汁のお出汁に！！</li>
        </ul>
      </div>
      <div class="cv_box">
        <ul class="cv_btn">
          <li class="cv_cart"><a href="">カートに入れる</a></li>
          <li class="cv_order"><a href="">今すぐ注文</a></li>
        </ul>
      </div>
      <div class="link_efforts_box">
        <div class="efforts_icon"></div>
        <div class="efforts_text"><span>食べチョク安心への取組み</span>万が一の場合でも、お問い合わせの翌営業日までにご返信します。</div>
      </div>
      <div class="delivery">
        <div class="delivery_title">配送方法：ヤマト運輸</div>
        <ul class="delivery_list">
          <li>【東京都】まで&nbsp;<b>送料<span class="delivery_price">￥1,296～</span></b></li>
          <li>【大阪府】まで&nbsp;<b>送料<span class="delivery_price">￥1,296～</span></b></li>
        </ul>
      </div>
      <dl class="item_detail_list">
        <div class="item_detail_box">
          <dt>内容</dt>
          <dd>スペアリブ1本（約200g）×3</dd>
        </div>
        <div class="item_detail_box">
          <dt>配送</dt>
          <dd>クール便(冷凍)(+￥300)<br>
            数量1点ごとに送料が発生します。 </dd>
        </div>
        <div class="item_detail_box">
          <dt>発送</dt>
          <dd>毎日<br>
            この商品はお届け日を指定できます。</dd>
        </div>
        <div class="item_detail_box">
          <dt>カテゴリ</dt>
          <dd><a href="">加工品</a><br>
            <a href="">肉</a>＞<a href="">豚肉</a></dd>
        </div>
        <div class="item_detail_box">
          <dt>産地</dt>
          <dd><a href="">静岡県</a></dd>
        </div>
      </dl>
    </div>
  </div>
</section>
<!---商品説明----> 
<!---商品タグ--->
<section id="tag_area">
  <div class="wrap">
    <div class="inner">
      <ul class="tag_list">
        <li><a href="">#自然栽培</a></li>
        <li><a href="">#肉</a></li>
        <li><a href="">#加工品</a></li>
        <li><a href="">#期間限定</a></li>
        <li><a href="">#お試しセット</a></li>
        <li><a href="">#ビニール包装</a></li>
      </ul>
    </div>
  </div>
</section>
<!---商品タグ---> 
<!---生産者について--->
<section id="producer_area">
  <h3>
    <div class="wrap">
      <div class="inner">生産者のこだわり </div>
    </div>
  </h3>
  <div class="obsession">
    <div class="wrap">
      <div class="inner">
        <ul class="obsession_list">
          <li>
            <div class="obsession_img"><img src="" alt=""></div>
            <div class="obsession_list_title">豚牧場のおいたち</div>
            <div class="obsession_list_text">
              <p>仙台が1949年に創業した養豚を引き継ぎ、現在は全量直売として、高級レストランへの卸販売、BBQ場の運営、直売店にて消費者の皆様の評価をフィードバックしながら、次の生産に反映させています。<br>
                取扱いブランド豚肉<br>
                【富士金華豚】</p>
            </div>
          </li>
          <li>
            <div class="obsession_img"><img src="" alt=""></div>
            <div class="obsession_list_title">豚牧場のおいたち</div>
            <div class="obsession_list_text">
              <p>仙台が1949年に創業した養豚を引き継ぎ、現在は全量直売として、高級レストランへの卸販売、BBQ場の運営、直売店にて消費者の皆様の評価をフィードバックしながら、次の生産に反映させています。<br>
                取扱いブランド豚肉<br>
                【富士金華豚】</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <h3>
    <div class="wrap">
      <div class="inner">この商品の生産者 </div>
    </div>
  </h3>
  <div class="wrap">
    <div class="inner">
      <div class="producer">
        <div class="producer_icon"></div>
        <div class="producer_info"><span>静岡県&nbsp;富士宮市</span>ぶた牧場</div>
      </div>
      <div class="producer_text">
        <p>富士山麓で3代にわたり養豚業を営んでおります。<br>
          愛のある豚肉を富士山麓よりお届けいたします。是非ご賞味ください。<br>
          直売所として<br>
          【YSC-LAND】<br>
          ・食べ放題バーベキュー場<br>
          【豚牧場】<br>
          ・東名高速上り足柄SA外売店を運営しております。是非お立ち寄りください。</p>
      </div>
    </div>
  </div>
</section>
<!---生産者について---> 
<!---全ページ共通--->

<!---全ページ共通---> 

<script type="text/javascript" src="../slick/slickScroll.js"></script> 
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script> 
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> 
<script type="text/javascript" src="../slick/slick.min.js"></script>
</body>
</html>


<%= render "shared/footer" %>
