<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @item.item_name %>
    </h2>
    <div class="item-img-content">
      <%= image_tag @item.image ,class:"item-box-img" %>
    </div>
    <div class="item-price-box">
      <span class="item-price">
        ¥<%=  @item.fee %>
      </span>
      <span class="item-postage">
        <%= @item.delivery_method.name %>
      </span>
    </div>

    <%# if @item.purchase.blank? %>
      <% if owner_signed_in? %>        
        <% if  current_owner.id == @item.owner_id %>
          <%= link_to "商品の編集", edit_item_path(@item.id), method: :get, class: "item-red-btn" %>
          <p class="or-text">or</p>
          <%= link_to "削除", item_path, method: :delete, class:"item-destroy" %>
        <% end %>
      <% end%>
      <% if user_signed_in? %>
        <%= link_to "購入画面に進む", item_purchases_path(@item.id),  class:"item-red-btn"%>
      <% end %>
    <%#end %>

    <div class="item-explain-box">
      <span><%= @item.comment %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><%= @item.item_name %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @item.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">配送料の負担</th>
          <td class="detail-value"><%= @item.delivery_method.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送日の目安</th>
          <td class="detail-value"><%= @item.shipping_date.name %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <% if current_user.favorite_find(@item.id) %>
        <div class="report-btn">
          <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
          <p><%=link_to "お気に入り解除", item_favorite_path(@item.id), method: :delete %></p>
        </div>
      <% else %>
        <div class="favorite-btn">
          <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
          <p><%=link_to "お気に入り登録", item_favorites_path(@item.id), method: :post %></p>
        </div>
      <% end %>
      <div class="count-btn">
        <p><%=link_to "お気に入り一覧", item_favorites_path(@item.id) %></p>
      </div>
      <div class="report-btn">
          <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
          <p><%=link_to "カートに入れる", item_carts_path(@item.id), method: :post %></p>
      </div>
        
    </div>
  </div>
  <%# /商品の概要 %>

  <div class="comment-box">
    
  <%= link_to "ホームに戻る", root_path,  class:"another-item"%>
  <p><%=link_to "カートを確認する", item_carts_path(@item.id), class:"another-item" %></p>
</div>

<%= render "shared/footer" %>
