
<!---全ページ共通--->

<%= render "shared/header" %>

<!---ページ下部固定ボタン---> 
<!---パンくずリスト--->
<section id="bread_clumb">
  <div class="wrap">
    <div class="inner">
      <div class="container">
        <ol class="bc_list">
          <li><%= link_to "うまいもん市場", root_path %></li>
          <li><%= link_to @item.category.name, item_purchases_path(@item.id) %></li>
          <li><%= @item.item_name %></li>
        </ol>
      </div>
    </div>
  </div>
</section>

<!---パンくずリスト--->
<div class="pc_display">
  <div class="pc_item"> 
    <!----商品サムネイル---->
    <section id="item_photo">
      <div class="wrap">
        <div class="inner">

          <div class="slider-for">
          <% @item.images.each do |image| %>
              <p><%= image_tag image %></p>
            <%end%>
          </div>
          <div class="slider-nav">
            <% @item.images.each do |image| %>
              <p><%= image_tag image %></p>
            <%end%>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!----商品サムネイル----> 
  <!---商品説明---->
  <div class="pc_item_info">
    <section id="item_info">
      <div class="wrap">
        <div class="inner">
          <h3 class="item_name"><%= @item.item_name %></h3>
          <!--div class="review">★<a href="">4件のレビュー</a></div-->
          <div class="price">¥<%=  @item.fee %><span class="tax"><%= @item.delivery_method.name %></span></div>
          <p class="special_caution">※タイミングによって多少内容が異なる場合がございます。</p>
          
          <div class="famer_box">
            <div class="famer_icon"><%= image_tag @item.owner.image %></div>
            <div class="famer_info"><span><%= @item.owner.pref.name %></span><%= @item.owner.corporation %></div>
          </div>
          <div class="points_box">
            <div class="points_title"><span>ここがイチオシ！</span></div>
            <ul class="points_list">
             <%= @item.comment %>
            </ul>
          </div>
          <div class="cv_box">
            <ul class="cv_btn">
              <li class="cv_cart"> <p><%=link_to "カートに入れる", item_add_to_carts_path(@item.id), method: :post %></p></li>
              
                <% if user_signed_in? %>
                <li class="cv_order">
                  <%= link_to "購入画面に進む", item_purchases_path(@item.id) %>
                </li>
                <% end %>
            </ul>
              <% if user_signed_in? %>
              <div class="favorite_btn">
                <% if current_user.favorite_find(@item.id) %>
                  <p><%=link_to "お気に入り解除", item_favorite_path(@item.id), method: :delete %></p>
                <% else %>
                  <p><%=link_to "お気に入り登録", item_favorites_path(@item.id), method: :post %></p>
                <% end %>
              <% end %>
                </div>
          </div>
          <div class="link_efforts_box">
            <div class="efforts_icon"><%= image_tag "mail_test.png" %></div>
            <div class="efforts_text"><span>うまいもん市場安心への取組み</span><%=link_to "規約", rule_index_path %></div>
          </div>
          
          <div class="delivery">
            <div class="delivery_title">配送方法：ヤマト運輸</div>
            <ul class="delivery_list">
              <li>【東京都】まで&nbsp;<b>送料<span class="delivery_price">￥1,296～</span></b></li>
            </ul>
          </div>
          <dl class="item_detail_list">
            <div class="item_detail_box">
              <dt>内容</dt>
              <dd><%= @item.item_name %></dd>
            </div>
            
            <div class="item_detail_box">
              <dt>発送</dt>
              <dd><%= @item.shipping_date.name %>
                ※この商品はお届け日を指定できます。</dd>
            </div>
            <div class="item_detail_box">
              <dt>カテゴリ</dt>
              <dd><%= @item.category.name %></dd>
            </div>
            <div class="item_detail_box">
              <dt>産地</dt>
              <dd><%= @item.owner.pref.name %></dd>
            </div>
          </dl>
        </div>
      </div>
    </section>
    <!---商品説明----> 
    <!---商品タグ>
    <section id="tag_area">
      <div class="wrap">
        <div class="inner">
          <ul class="tag_list">
            <li><a href="">#自然栽培</a></li>
            <li><a href="">#肉</a></li>
            <li><a href="">#加工品</a></li>
            <li><a href="">#期間限定</a></li>
            <li><a href="">#お試しセット</a></li>
            <li><a href="">#ビニール包装</a></li>
          </ul>
        </div>
      </div>
    </section--->
  </div>
  <!---商品タグ---> </div>
<!---生産者について--->
<section id="producer_area">
     
  <h3>
    <div class="wrap">
      <div class="inner">この商品の生産者 </div>
    </div>
  </h3>
  <div class="wrap">
    <div class="inner">
      <div class="producer">
        <div class="producer_icon"><%= image_tag @item.owner.image %></div>
        <div class="producer_info"><%= @item.owner.nickname %></div>
      </div>
      <div class="producer_text">
        <%= @item.owner.appeal %>
      </div>
    </div>
  </div>
  
</section>
<!---生産者について---> 
      <% if owner_signed_in? %>        
        <% if  current_owner.id == @item.owner_id %>
          <%= link_to "商品の編集", edit_item_path(@item.id), method: :get, class: "item-red-btn" %>
          <p class="or-text">or</p>
          <%= link_to "削除", item_path, method: :delete, class:"item-destroy" %>
        <% end %>
      <% end%>

<script>
    $(function(){
  var pos = 0;
  var header = $('#hidden');
  
  $(window).on('scroll', function(){
    if($(this).scrollTop() < pos ){
      //上スクロール時の処理
      header.removeClass('hide');
    }else{
      //下スクロール時の処理
      header.addClass('hide');
    }
    pos = $(this).scrollTop();
  });
});</script> 

<script type="text/javascript" src="../slick/slickScroll.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script> 
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> 
<script type="text/javascript" src="../slick/slick.min.js"></script>



<%= render "shared/footer" %>